
<nav class="navbar navbar-expand-lg sticky-top"  style="background-color: #3e2cdf;">
    <div class="container-fluid">
        <a id = "title" class="navbar-brand mb-0 h1" href="{{url_for('home')}}"  style = 'color: white;'>FreeChatAi</a>

        {% if current_user.is_authenticated %}


        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('dash')}}" style = 'color: white;'>Dashboard</a>
              </li>
    
              {% if current_user.id == 1 %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin')}}" style = 'color: white;'>Admin</a>
              </li>
              {% endif %}

            {% endif %}
            
            
          </ul>
      <p class="container-fluid justify-content-end d-inline-flex gap-1">



        <a  href = "/add_bot" class="btn btn-primary" tabindex="-1" role="button">Create +</a>
        <a href="/logout" class="btn btn-primary" tabindex="-1" role="button">Logout</a>
    </p>
    {% else %}

    <p class="container-fluid justify-content-end d-inline-flex gap-1">
      <a  href="/add_bot" class="btn btn-primary" tabindex="-1" role="button">Create +</a>
      <a href="/login" class="btn btn-primary" tabindex="-1" role="button">Login</a>
      <a href="/register" class="btn btn-primary" tabindex="-1" role="button">Sign Up</a>
      {% endif %} 
    </div>

   
</nav>
